td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.header__logo {
  float: left;
  height: 8rem;
  padding-left: 3rem;
}
  
.input-group {
  margin: 20px 0px;
  float: right;
  width: 87%;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
