root {
  background-image: url("./clouds.jpg");
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.header__logo {
  float: left;
  height: 8rem;
  margin-top: 1rem;
  padding-left: 3rem;
}
  
.input-group {
  margin: 4rem 0px;
  float: right;
  width: 40%;
  position: relative;
  margin-right: 45%;
}

.table {
  margin-top: 2rem;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
